.logo-pequeno {
    width: 3rem;

    @media(min-width: 992px) {
        display: none;
    }
}

.logo-grande {
    width: 12rem;

    @media(max-width: 991px) {
        display: none;
    }
}

.custom-navbar {
    background-color: $color-terciario !important;
}

.justify-content-center {
    gap: 12rem;

}

.nav-item {
    display: flex;
    font-size: 1.1rem;
}

.navbar-toggler {
    color: $color-secundario;
    border-color: $color-secundario;
}

.navbar-collapse{
    color: $color-secundario;
}

.menu-expandible {
    width: 1.5rem;
}

.nav-link {
    color: $color-secundario !important;
}

header {
position: fixed;
top: 0;
width: 100%;
z-index: 4;
font-family: $tipografia-principal;  
}