.body-nosotros {
    width: 100%;
    display: block;
}


.main-nosotros {
        width: 100%;
        height: 950px;
}
    


.contenedor-nosotros {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 1rem;
    overflow: hidden;
}

.nosotros {
    position: absolute;
    width: 90vw;
    height: 680px;
    top: 170px;
    left: 50%;
    transform: translateX(-50%);
    background: $color-principal;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;

    @media (min-width: 600px) {
        width: 90%;
        border-radius: 150px;
    }

    @media (min-width: 900px) {
        width: 710px;
        border-radius: 286px 286px 600px 600px;
    }

    @media (min-width: 1600px) {
        width: 810px;
    }
}

.titulo-nosotros {
    margin: 0px;
    font-family: $tipografia-principal;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.5rem;
    color: #f4f4f4;
    margin-top: 4rem;

    @media (min-width: 900px) {
        font-size: 3rem;
        margin-top: 0;
        margin-bottom: 2rem;
    }
}

.parrafo-nosotros {
    margin: 1.5rem 0px;
    line-height: 1.5;
    width: 80%;
    font-family: $tipografia-principal;
    font-size: 1.25rem;
    font-weight: 300;
    color: $color-secundario;
    text-align: center;
}

.pestana1 {
    width: 162px;
    height: 138px;
    border-radius: 285px 285px 600px 600px;
    background: $color-principal;
    position: absolute;
    top: 40%;
    left: 4rem;
    display: block;

    @media (max-width: 1200px) {
        display: none;
    }

    @media (min-width: 1600px) {
        width: 324px;
        left: 2.5rem;
    }
}

.pestana2 {
    width: 162px;
    height: 138px;
    border-radius: 285px 285px 600px 600px;
    background: $color-principal;
    position: absolute;
    top: 40%;
    right: 4rem;
    display: block;

    @media (max-width: 1200px) {
        display: none;
    }

    @media (min-width: 1600px) {
        width: 324px;
        right: 2.5rem;
    }
}

.vibrate-1 {
	-webkit-animation: vibrate-1 0.3s linear infinite both;
	        animation: vibrate-1 0.3s linear infinite both;
            
@-webkit-keyframes vibrate-1 {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    20% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    40% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    60% {
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
    }
    80% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }
  @keyframes vibrate-1 {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    20% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    40% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    60% {
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
    }
    80% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }
  
}
